<div  style="margin: 25px;">
    <h1 style="font-size: 30px;
    font-weight: 400;">How do I contact E-bank?</h1>
    <br/>
    <p>We love hearing from you. There are a few different ways to contact us.</p> 
    <br/>
    <h1>Call</h1>
    <ul>
        <li>Our toll-free nationwide phone number is  (666-666-666)</li>
        <li>We are available by phone Monday through Friday, 8 a.m. - 8 p.m.</li>
    </ul>
    <br/>
    <h1>Text</h1>
    <ul>
        <li>Send a text message to 666-666-666</li>
        <li>Your carrier's standard messaging and data rates apply.</li>
        <li>We are available Monday through Friday, 8 a.m. - 8 p.m., and Saturday, 9 a.m. - 5 p.m.</li>
    </ul>
   
</div>