<p-toast position="top-right" life="5000"></p-toast>

<div class="app-container">
    <app-header></app-header>
    <div class="content-container">
      <app-sidebar></app-sidebar>
      <div style="flex: 1;" [style.fontSize]="fontSize + ' !important'"  [style.color]="color + ' !important'">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <button class="chatbot-button" pButton type="button"  (click)="openChatbotPopup()">Need Help ?</button>

  <p-dialog header="Chat with me" [(visible)]="showChatbot" 
  [style]="{ 'width': '400px',  'top': '50px',
  'position': 'fixed', 'bottom': '20px', 'right': '50px', 'z-index': '1000' }">
    <div class="chat-container" style="font-size: 20px;" #chatContainer>
      <div  class="chat-message">
        <div class="bot-message">
          How can I help you today? <br> 
          Are you finding difficulties in <br>
           <a (click)="sendMessage('Adding an account')" class="point">Adding an account</a> <br>
     <a (click)="sendMessage('Downloading bank statements')" class="point">Downloading bank statements</a> <br>
     <a (click)="sendMessage('Changing settings')" class="point">Changing settings</a> <br>
     <a (click)="sendMessage('Changing Password')" class="point">Changing Password</a> <br>
   <a (click)="sendMessage('Forgot your password')" class="point">Forgot your password</a> <br>
     <a (click)="sendMessage('Transfer funds')" class="point">Transfer funds</a> <br>
     <a (click)="sendMessage('Bill payments')" class="point">Bill payments</a> <br>
        </div>
      </div>
      <div *ngFor="let message of chatMessages" class="chat-message" >
        <div [ngClass]="{'user-message': message.isUser, 'bot-message': !message.isUser}">
          {{ message.text }}
        </div>
      </div>
    </div>
    <div class="input-container">
      <input [(ngModel)]="userInput" (keydown.enter)="sendMessage(userInput)" placeholder="Type a message..." style="width:70%">
      <button (click)="sendMessage(userInput)" style="width: 20%;">Send</button>
    </div>
  </p-dialog>
