<p-blockUI [blocked]="isLoading">
    <i class="pi pi-spin pi-spinner"
      style="position:absolute;top:50%;left:47%;color: black;font-size: 100px;"></i>
  </p-blockUI>

<mat-card layout='row' class="signup-box">
    <mat-card-title class="reset-password-title">Create a New Password</mat-card-title>
    <mat-card-content>
    <form novalidate [formGroup]="changePasswordForm">
        <p-message *ngIf="error" severity="error" [text]="message" [escape]="true"></p-message>
    
        <div class="form-group form-input-margins" style="width: 100%;min-width: 400px;">
            <div class="input-with-icon">
            <input type="{{ hideNewPassword ? 'password' : 'text' }}" formControlName="password"
             [(ngModel)]="editedPassword" class="form-control" pInputText placeholder="New Password" required />
             <button style="margin-left: 2px;" (click)="toggleNewPasswordVisibility()"  pButton pRipple type="button"  class="p-button-rounded p-button-info p-button-text ">{{hideNewPassword ? 'Show' : 'Hide'}}</button> 
             <button pButton pRipple type="button" icon="pi pi-question-circle" (mouseover)="op.toggle($event)"
             (mouseleave)="op.toggle($event)" (click)="op.toggle($event)"
           class="p-button-rounded p-button-help p-button-text overlay-icon"></button>
             </div> 
             <span class="help-block" *ngIf="(changePasswordForm.get('password').touched ||
             changePasswordForm.get('password').dirty) &&
             changePasswordForm.get('password').errors">
             <span *ngIf="changePasswordForm.get('password').errors">
                The password you entered is not secure. Tap/click the question mark icon for secure password examples           </span>         
           </span>
          </div>
          <span class="help-text"> 8-64 characters in length. Enter a phrase you will remember.
        </span>
          <div class="form-group form-input-margins" style="width: 100%;min-width: 400px;">
            <div class="input-with-icon">
            <input type="{{ hideConfirmPassword ? 'password' : 'text' }}" formControlName="confirmPassword"
             [(ngModel)]="editedConfirmPassword" class="form-control" pInputText placeholder="Confirm Password" required />
             <button style="margin-left: 2px;" (click)="toggleConfirmPasswordVisibility()"  pButton pRipple type="button"  class="p-button-rounded p-button-info p-button-text ">{{hideConfirmPassword ? 'Show' : 'Hide'}}</button>  
             <button pButton pRipple type="button" icon="pi pi-question-circle" (mouseover)="op.toggle($event)"
             (mouseleave)="op.toggle($event)" (click)="op.toggle($event)"
           class="p-button-rounded p-button-help p-button-text overlay-icon"></button>
          </div>
          <span class="help-block" *ngIf="(changePasswordForm.get('confirmPassword').touched ||
          changePasswordForm.get('confirmPassword').dirty) &&
          changePasswordForm.get('confirmPassword').errors">
          <span *ngIf="changePasswordForm.get('confirmPassword').errors">
            The password you entered is not secure. Tap/click the question mark icon for secure password examples        </span>         
        </span>
          </div>
      </form>
        </mat-card-content>    

          <div class="text-center">
            <div >
                <button class="hover-button" mat-raised-button style="background-color: rgba(218, 17, 17, 0.622);"  type="button" pButton  label="Change Password" (click)="changePassword()"></button>
            </div>
            <div style="margin-top: 10px;">
                <button  class="hover-button"    mat-raised-button style="background-color: white;"  type="button" pButton label="Move To Login" (click)="moveToLogin()"></button>
            </div>
          </div>
</mat-card>

<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '400px'}">
    <ng-template pTemplate>
     <span style="font-size: 20px;"><b>How to create a secure password</b> </span>
  <br/>
      <p style="margin-top: 10px;">Using a phrase as your password makes it easier to remember and harder to crack. Avoid using repeating or sequential characters like 1234, 1111, abcd, aaaa.</p>
  
     <p style="margin-top: 5px;"> <i class="pi pi-check-circle" style="color:green;border-radius: 50%;"></i>
      My dog's name is Champ (Takes a long time to crack)</p>
  
  <p><i class="pi pi-times-circle" style="color:red;border-radius: 50%;"></i> markChamp (Can be cracked very quickly)</p>
  <p><i class="pi pi-times-circle" style="color:red;border-radius: 50%;"></i> markChamp1234 (Can be cracked very quickly) </p> 
  </ng-template>
  </p-overlayPanel>