.signup-box {
    display: flex;
    position: relative;
    top: -76px;
    border-radius: 14px;
    width: 35%;
  }

  .reset-password-title{
    margin-top: 20px;
    font-weight: 500;
    font-size: 30px;
    margin-left: 0px;
  }

  mat-card{
    background-color: #ffffffe6;
    border-radius: 15px;
    top: -60px;
    padding: 18px;
  }
  
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }
  
  mat-card-title {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  :host {
    display: flex;
    position: relative;
   // left: 140px;
    justify-content: center;
    margin: 120px 0px;
  }

  .input-with-icon {
    display: flex;
  }
  .button {
    display: flex;
    justify-content: flex-end;
  }
  button {
    margin-right: 2mm;
    margin-top: 1mm;
   }

   .mat-raised-button.mat-red {
    background-color: rgba(197, 59, 59, 0.863);
    color: #ffffff;
    margin-top: -12px;
    margin-bottom: 5px;
  }
  
  .button {
    display: flex;
    justify-content: flex-end;
  }
