<div  style="margin: 25px;">
    <h1 style="font-size: 30px;
    font-weight: 400;">About E-bank?</h1>
    <br/>
    <p>We provide easy and fast internet banking services for elderly people.</p> 
    <br/>
    <h1>Our Main Objective</h1>
    <ul>
        <li>Our Purpose is to shape a world where elderly people and communities thrive.</li>
        <li>We bring our Purpose to life through our Strategy: to improve the financial wellbeing and sustainability of elderly people by providing connected, relevant and efficient services, tools and insights, directly to them.</li>
    </ul>
    <br/> 
    <h1>Our Strategy</h1>
    <p>Building the financial wellbeing and sustainability of our customers creates a positive cycle of benefits. It directly benefits customers and also grows shareholder returns;
         it leads to a strong and positive reputation; 
         it ultimately means it costs less to acquire customers; 
         and it grows loyalty, 
         which in turn generates better returns – delivering more capital so we can invest in building a better bank and continue to improve the lives of our customers.</p> 
</div>