<p-blockUI [blocked]="isLoading">
    <i class="pi pi-spin pi-spinner"
      style="position:absolute;top:50%;left:47%;color: black;font-size: 100px;"></i>
  </p-blockUI>

  <mat-card layout='row' *ngIf="!emailSent">
    <p></p>
    <p-message *ngIf="!isUserExists" severity="error" text="Your email address cannot be found in our registration system." [escape]="true"></p-message>
    <mat-card-title class="reset-password-title">Password Assistance</mat-card-title>
    <span style="font-size: 16px;text-align: center;">Enter the email address you used at </span>
        <span style="font-size: 16px;text-align: center;">registration to reset your password.</span>
    <mat-card-content>
  <form (submit)="onContinue(resetPasswordEmailForm)" #resetPasswordEmailForm="ngForm"  *ngIf="!isLoading">
    <p>
    <mat-form-field style="margin-top: 10px;width: 100%;">
          <input          
            matInput
            ngModel
            #emailInput="ngModel"
            type="email"
            name="email"
            placeholder="E-mail"
            required email
            >
            <mat-error *ngIf="emailInput.invalid">Please enter valid email address.</mat-error>
        </mat-form-field>
      </p>
      <div style="text-align: center;">
        <div >
          <button mat-raised-button style="background-color: rgba(218, 17, 17, 0.622);" type="submit" *ngIf="!isLoading">Continue to Reset My Password</button>
        </div>
        <div style="margin-top: 10px;">
          <button mat-raised-button style="background-color: white;" (click)="moveToLogin()" *ngIf="!isLoading">Cancel reseting password</button>
        </div>
      </div>
      <div style="margin-top: 20px;text-align: center;">
        <p>If you have forgot your email address, </p>
          <p>Please call 666-666-666, 8:00am - 8:00pm, Monday - Friday.</p>
      </div>
  </form>
  </mat-card-content>
  </mat-card>
  
  <mat-card layout='row' *ngIf="emailSent">
    <p>We have sent an email to {{email}} with instructions on how to reset your password.</p> 
    <p>If you do not receive the email, you may not be registered with Ebank.</p>
    <p><a routerLink="/registration">Click here</a> to register</p>
    <p>If the email is not in your inbox, please check your spam folder. </p>
    <p>If you encounter any issues, please call 666-666-666, 8:00am - 8:00pm Monday - Friday.</p>
    <p>If you have not receive any email and want to resend the email. <a style="color: blue;cursor: pointer;" (click)="sendForgotPasswordMail(email)">Click here</a></p>
    <div style="margin-top: 10px;">
      <button mat-raised-button style="background-color: rgba(218, 17, 17, 0.622);" (click)="moveToLogin()" *ngIf="!isLoading">Move to login</button>
    </div>
  </mat-card>